.dietmar {
  padding-bottom: 12rem;
}
.dietmar:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("/src/assets/images/dietmar-overlay.jpg") no-repeat center
    center/cover;
  z-index: -1;
}
.dietmar__img-desktop {
  display: none;
}
.dietmar__article {
}
.dietmar-h2-heading {
  font-size: clamp(3rem, 7vw, 5rem);
}
.dietmar--first-span:first-child {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-size: clamp(4rem, 7vw, 5rem);
}
.dietmar--second-span:last-child {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  transform: translateX(100px);
}
.dietmar__img-mobile {
  transform: translateX(-18px);
}
.dietmar-subheadline {
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
}
.dietmar__paragraph-wrapper {
  display: grid;
  gap: 2rem;
}
.dietmar-top-left-element,
.dietmar-bottom-right-element,
.dietmar-top-left-element--mobile {
  position: absolute;
}
.dietmar-top-left-element {
  display: none;
}

.dietmar-top-left-element--mobile,
.dietmar-top-left-element {
  top: 0;
  left: 0;
}
.dietmar-bottom-right-element {
  bottom: 0;
  right: 0;
}
@media (min-width: 1200px) {
  .dietmar-top-left-element--mobile {
    display: none;
  }
  .dietmar-top-left-element {
    display: block;
  }
  .dietmar__wrapper {
    display: flex;
  }
  .dietmar__img-desktop {
    display: block;
    scale: 1.4;
    transform: translateY(74px) translateX(-38%);
  }
  .dietmar__img-mobile {
    display: none;
  }
  .dietmar-h2-heading {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1500px) {
  .dietmar__img-desktop {
    position: absolute;
    display: block;
    scale: 1.4;
    transform: translateY(74px) translateX(-38%);
  }
  .dietmar__article {
    width: 62ch;
    margin-left: auto;
  }
}
