.feature {
}
.feature::before {
  content: "";
  position: absolute;
  background: url("/src/assets/images/feature-overlay.jpg") no-repeat center
    center/cover;
  background-attachment: fixed;
  inset: 0;
  z-index: -1;
}

.feature-subheadline {
  margin-bottom: 1.5rem;
  max-width: 80ch;
  text-align: center;
  margin-inline: auto;
}

.feature__side-row {
  display: grid;
  gap: 1rem;
}
.feature-card {
  background-color: #00000030;
  border-radius: 7px;
  padding: 10px;
  display: flex;
}
.feature-card img {
  object-fit: contain;
}

.feature-h3-heading {
  margin-bottom: 7px;
}

.feature__side-row:last-child .feature-card img {
  order: 2;
}
.feature__side-row:first-child .feature-card .feature__text-row {
  text-align: right;
}
.feature-top-left-radius,
.feature-top-right-radius {
  position: absolute;
  top: 0;
  width: 15vw;
}
.feature-top-left-radius {
  left: 0;
}
.feature-top-right-radius {
  right: 0;
}
@media (min-width: 1024px) {
  /* .feature__wrapper {
    display: flex;
  } */
  .feature .container {
    width: min(100% - 32px, 1274px);
    margin-inline: auto;
  }
  .feature__inner-wrapper {
    display: grid;
    grid-template-columns: 35% 25% 35%;
  }
}
