button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__cta {
  padding-inline: 2rem;
  padding-block: 1rem;
  width: max-content;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--white);
  gap: 1rem;
  color: var(--white);
  background: linear-gradient(to right, hsl(39, 38%, 39%), #477183);
  transition: 0.25s;
}
.hero__cta:hover {
  outline-offset: 5px;
}
.play-thumbnail-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.play-video-btn {
  transition: 0.3s;
  cursor: pointer;
  filter: drop-shadow(0 0 5px var(--white));
}
.play-video-btn:hover {
  filter: drop-shadow(5px 5px 15px var(--white));
}
.play-video-btn > * {
  pointer-events: none;
}
.thumbnail-interview-btn {
  position: relative;
  border-radius: 10px;
  outline: 3px solid var(--white);
  box-shadow: 0 0 1rem var(--white);
  cursor: pointer;
  transition: 0.25s;
}
.thumbnail-interview-btn:hover {
  opacity: 0.8;
}
.thumbnail-interview-btn > * {
  pointer-events: none;
}
.thumbnail-interview-btn--desktop {
  display: none;
}
.call-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.call-btn[data-active="false"] {
  opacity: 0;
  pointer-events: none;
}
.call-btn[data-active="true"] {
  opacity: 1;
  pointer-events: visible;
}
.submit-btn {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
}
.submit-btn:hover {
  background-color: var(--dark-font);
}
.saddles-tab-btn {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: var(--white);
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}
.saddles-tab-btn:hover {
  text-shadow: 0 0 20px var(--white);
}
@media (min-width: 1152px) {
  .thumbnail-interview-btn--mobile {
    display: none;
  }
  .thumbnail-interview-btn--desktop {
    display: block;
  }
  .hero__footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .hero__footer-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
  }
  .saddles-tab-btn {
    font-size: 19px;
    font-weight: 700;
  }
}
